<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${file.getFiletype().name() == 'IMAGE'}" class="">
    <img th:src="@{'/uploads/' + ${file.getFilename()}}" alt="Card">
</div>
<div th:if="${file.getFiletype().name() == 'VIDEO'}" class="">
    <iframe allowfullscreen th:autoplay="false"
            th:if="${file.getFiletype().name()} eq 'VIDEO'"
            class="video" th:src="@{'/uploads/' + ${file.getFilename()}}" sandbox></iframe>
</div>
<button class="btn btn-danger" onclick="redirect()">Back</button>
<script>
    function redirect(){ location.pathname = '/api/user/personal'}
</script>
</body>
</html>